.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;

  // margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(165, 147, 217);
  padding: 10px 15px;
  border: 2px solid rgb(121, 46, 142);
  border-top: 0;
  border-radius: 0 0 8px 8px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
}
.list {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(135, 51, 121, 0.1);
  border-radius: 3px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  // background-color: rgba(45, 6, 74, 0.1);
  width: 20px;
  border-radius: 25%;
  border: 1px solid rgb(76, 3, 76, 0.5);
  cursor: pointer;
  &:hover {
    font-weight: 900;
    background-color: rgba(45, 6, 74, 0.3);
  }
}
